.header {
	&__wrapper {
		width: 100%;
	}
	&__logo {
		width: 467px;
		height: 312px;
		position: absolute;
		bottom: 744px;
		right: 994px;
	}
	&__map {
		position: absolute;
		left: 440px;
		bottom: 529px;
	}
	&__divide {
		position: absolute;
		left: 162px;
		top: 0;
		height: 1024px;
	}
	&__menu {
		position: absolute;
		top: 398px;
		left: 54px;
		display: flex;
		flex-direction: column;
		gap: 37px;
		align-items: center;
		max-width: 59px;
	}
	&__menu-list {
		display: flex;
		justify-content: center;
	}
	&__memu-info {
		position: absolute;
		top: 789px;
		left: 42px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	&__date {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: var(--font-main);
		color: rgb(255, 255, 255);
		font-size: 72px;
		font-weight: 800;
		line-height: 64px;
		text-transform: uppercase;
	}
	&__month {
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		text-align: center;
		text-transform: none;
		padding-top: 17px;
	}
	&__city {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 12px;
		font-weight: 300;
		line-height: 14px;
		letter-spacing: 1.05px;
		text-align: center;
		text-transform: none;
		padding-top: 30px;
	}
}